body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.top-bar {
  background-color: #87CEEB;
  /* Sky blue color */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* Ensure the top bar is above other elements */
}

.topbar-btn {
  background-color: #87CEEB;
  border: none;
}

.top-bar i {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
  box-sizing: content-box;
}

.wrapper {
  /* Adjust the margin to make space for the top bar */
  padding-top: 20px;
  /* Add padding to the top of the wrapper */
}

.sidebar {
  width: 0.2px;
  background-color: #333;
  color: white;
  padding-top: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 1;
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  color: white;
  display: block;
  transition: background-color 0.3s ease;
}

.sidebar a i {
  font-size: 24px;
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: #555;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
  color: white;
}

.side-header {
  margin: 10%;
  margin-left: 5%;
  margin-bottom: 2px;
  font-weight: initial;
  font-size: 125%;
  letter-spacing: 0.3%;
  color: rgb(142, 148, 148);
}

.side-title {
  margin-left: 7%;
}

.card {
  /* Add desired box shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Center align the element both horizontally and vertically */
  /* Add padding */
  padding: 10px;
  padding-left: 10px;

  /* Add background and border */
  background-color: #ffffff;
  border-radius: 4px;

  /* Set text color for better contrast on white background */
  color: #333;
  /* Dark color for better contrast */

  /* Add optional transitions or other styling */
  transition: box-shadow 0.3s ease;

}

.card:hover {
  
  /* Adjust the scaling factor for a more subtle effect */
}

.card-header {
  /* Make the text bold and more attractive */
  font-weight: bold;
  font-size: 125%;
  /* Adjust font size as needed */
  color: #333;
  /* Dark color for better contrast on white background */
  /* Center-align the text */
  /* Convert text to uppercase for a more stylized look */
  letter-spacing: 0.3%;
  /* Add letter spacing for better readability */
  margin-bottom: 4%;
  /* Add margin at the bottom for separation from content */
}

.card-content {
  text-align: center;
  /* Center-align the text */
  font-size: 100%;
  /* Set the font size to your preference */
  line-height: 150%;
  /* Adjust line height for better readability */
  color: #333;
  /* Set text color for better contrast on white background */
  /* Add any additional styling you desire */
}

.card-header-image {
  width: 21.6%;
  height: 26%;
  margin-left: 6.6%;
  border-radius: 30%;
}

.card-center-image {
  width: 70%;
  height: 60%;
  margin-left: 15%;
}

.card-right-image {
  width: 50%;
  height: 100%;
  float: inline-start;
}

.card-left-content {
  float: left;
  width: 50%;
  text-align: left;
  /* Center-align the text */
  font-size: 100%;
  /* Set the font size to your preference */
  line-height: 150%;
  /* Adjust line height for better readability */
  color: #333;
}

.card-button {
  display: inline-block;
  width: auto;
  margin-left: 7%;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: rgb(194, 88, 111);
  background-color: #d8cccc;
}

.gradient-button {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #636e72, #2c3e50);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.gradient-button:hover {
  background-image: linear-gradient(to right, #2c3e50, #34495e);
}

.gradient-button i {
  margin-right: 5px;
}

.list {
  /* Add desired box shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Center align the element both horizontally and vertically */
  /* Add padding */
  padding: 0.3%;
  padding-left: 3%;
  /* background-image: linear-gradient(to bottom, #ffffff 50%, #f0f0f0 50%); */
  /* Add background and border */
  background-color: #ffffff;
  border-radius: 4px;
  border-bottom: 1px solid #ccc;
  /* Set text color for better contrast on white background */
  color: #333;
  /* Dark color for better contrast */

  /* Add optional transitions or other styling */
  transition: box-shadow 0.3s ease;

}

.list:hover {
  transform: translateY(-3px);
  /* Move the element up by 3 pixels */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Add a larger shadow on hover */
}

.list-content {
  margin-top: 0.6%;
  font-size: 100%;
  /* Set the font size to your preference */
  line-height: 150%;
  /* Adjust line height for better readability */
  color: #333;
  /* Set text color for better contrast on white background */
  /* Add any additional styling you desire */
}

.list-content p {
  color: #706f6f;
  font-size: 80%;
  margin-top: 0;
  margin-bottom: 1rem;
}

.list-content h5 {
  font-size: 1.25rem;
  margin: 0px;
}

.profile-img {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  /* Space between profile image and content */
}

.profile-img img {
  width: 50px;
  /* Adjust size of profile image */
  height: 50px;
  /* Adjust size of profile image */
  border-radius: 50%;
  /* Make the image circular */
}

.content h5 {
  margin: 0;
  /* Remove default margin */
}

.content p {
  margin-top: 5px;
  /* Add space between name and text */
}

.media-player {
  width: 500px;
  height: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.media-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.media-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.media-item:hover {
  transform: translateY(-3px);
  /* Move the element up by 3 pixels */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Add a larger shadow on hover */
}

.media-content {
  flex-grow: 1;
}

.media-img {
  width: 100px;
  height: auto;
}

.media-img img {
  width: 100%;
  height: auto;
}

.accordion {
  background: linear-gradient(135deg, rgb(176, 172, 172) 0%, #ffffff 100%);
  color: #333;
  /* Changing the text color to contrast with the white background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border: none;
  /* Adding a border for a polished look */
  border-radius: 5px;
  /* Adding border radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Adding a subtle shadow for depth */
}
.accordion-title {
  color: #474753;
  margin-left: 10px;
  font-weight: bold; /* Make the font lighter */
  font-size: 1.1em; /* Increase font size */
}
.accordion-chevron-icon {
  color: rgb(80, 71, 71) !important;
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.divider {
  height: 50px;
  width: 1px;
  background-color: rgb(176, 172, 172);
}

.team {
  flex: 0 0 45%;
  max-width: 45%;
  text-align: center;
}

.team img {
  max-width: 35%;
  height: auto;
}
.bottomtext{
  color: #706f6f;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.pointsTable tr{
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
.pointsTable th {
  text-align: center;
  background-color: #f0f0f0;
  color: black;

}

.pointsTable tr:nth-child(even) {
  background-color: #2d2b2b;
  color: white;
}

.pointsTable tr:nth-child(odd) {
  background-color: #141313;
  color: white;
}
.team-logo {
  max-width: 15%;
  height: auto;
}
.accordianContainer{
  margin: 0px;
  padding: 0px;
}
.topcontainer {
  display: flex;
}

.topbutton {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px; /* Adjust the spacing between the button and the div */
  background: linear-gradient(135deg, rgb(176, 172, 172) 0%, #ffffff 100%); /* Adjust gradient colors as desired */
  color: rgb(22, 21, 21);
  padding: 3px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Style for disabled elements */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Disable scrolling when elements are disabled */
body.disabled-scroll,
html.disabled-scroll {
  overflow: hidden;
}

@media only screen and (min-width: 360px) and (max-height: 740px) {
  th, td {
    padding: 5px;
  }
}
/* Media Query for device with dimension 390 x 844 */
@media only screen and (min-width: 390px) and (max-height: 844px) {
  th, td {
    padding: 8px;
  }
}

/* Media Query for device with dimension 412 x 915 */


/* Media Query for device with dimension 414 x 896 */
@media only screen and (min-width: 414px) and (max-height: 896px) {
  th, td {
    padding: 10px;
  }
}

/* Media Query for device with dimension 430 x 932 */
@media only screen and (min-width: 430px) and (max-height: 932px) {
  th, td {
    padding: 12px;
  }
}


